@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Open+Sans:wght@700&family=Tinos&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.wrapper {
  max-width: 1900px;
  margin: 50px 80px;
}

.what-customers-say {
  background: #ffffff;
  padding: 160px 0 160px;
}
.what-customers-say .stars svg {
  width: 24px;
  height: 24px;
  color: #cf6f49;
}
.what-customers-say h1 {
  color: #2a2c1f;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 26px;
}
.what-customers-say h2 {
  color: #65665c;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 80px;
}

.what-customers-say .what-customers-say-items {
  display: flex;
  width: 100%;
}

.say-item {
  border-radius: 16px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  width: 30%;
  padding: 33px;
  margin: 0 32px 0;
  position: relative;
}

.say-item .stars {
  margin-bottom: 27px;
}

.say-item h1 {
  color: #2a2c1f;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 29px;
  text-align: left;
}

.say-item img {
  margin-right: 16px;
}

.say-item .content {
  display: flex;
}

.say-item .content h2 {
  color: #2a2c1f;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1px;
}

.say-item .content p {
  color: #65665c;
  font-size: 16px;
  font-weight: 400;
}
