
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Open+Sans:wght@700&family=Tinos&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.wrapper {
  max-width: 1900px;
  margin: 50px 80px;
}

.locations {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.locations__title {
  color: #2a2c1f;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 25px;
}

.locations__subtitle {
  color: #65665c;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 80px;
  width: 60%;
}

.locations__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0 80px 0;
}

.locations-item {
  border-radius: 16px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  width: 27%;
  padding: 33px;
  margin: 0 16px 16px 0;
  display: flex;
  flex-direction: column;
}

.locations-item__title {
  color: #2a2c1f;
  margin-bottom: 12px;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
}

.locations-item__button {
  width: 141px;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 500ms ease;
  color: #2a2c1f;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  padding-top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.locations-item__button:hover {
  transform: scale(1.05);
  color: #cf6f49;
}

.locations__buttons {
  display: flex;
}

.locations__button {
  width: 192px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  color: #2a2c1f;
  font-size: 16px;
  font-weight: 400;
  margin-right: 13px;
  cursor: pointer;
  transition: all 500ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.locations__button:hover {
  border-radius: 6px;
  border: 1px solid silver;
  transform: scale(1.05);
}